.search-container {
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 40rem;
}

.search-box {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-box:focus {
  outline: none;
  border-color: #4f005f;
}

.todos-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  color: black;
}

.todo-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.todo-card:hover {
    transform: scale(1.02);
} 